* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(180deg, #faaa1a 0%, #f5ad3b 50%, #fbaa19 100%);
}

a {
  text-decoration: none !important;
  color: #5a3a01;
}
h2 {
  color: #5a3a01;
  font-size: 3.2rem;
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5rem 2rem 5rem;
  /* background: linear-gradient(180deg, #faaa1a 0%, #f5ad3b 50%, #fbaa19 100%); */
  background-color: #fff;
}
.logo {
  position: fixed;
  left: 0;
}
.logo img {
  width: 24rem;
  height: 20rem;
  object-fit: contain;
}
.navlist {
  display: flex;
}
.title_container p {
  font-size: 2rem !important;
}
.title_container h1 {
  font-weight: 600;
}
.navlist a {
  color: #5a3a01;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}
.navlist li {
  position: relative;
}
.navlist li ul {
  display: none;
  position: absolute;
  background-color: #faaa1a;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navlist li ul li {
  float: none;
  color: black;
  padding: 15px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navlist a {
  font-size: 1.6rem;
}

.navlist li ul li:hover {
  background-color: #faaa1a;
}
/* .navlist li:hover ul {
  display: block;
} */
.navlist li p {
  color: #5a3a01;
  font-weight: 600;
  margin-left: 60px;
  font-size: 1.6rem;
}
#menu_trigger {
  position: relative;
}
#menu_program {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 100%;
  background-color: #faaa1a;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}
#menu_program li {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: left;
}
#menu-icon {
  color: #000;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 80vh;

  position: relative;
  /* display: flex; */
  /* justify-content: space-around; */
  gap: 20rem;
  padding-top: 25rem;
  padding-bottom: 10rem;
  margin-bottom: 5rem;
}
section {
  padding: 0 19%;
}
.hero-text {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10rem 5rem;
  position: relative;
}
.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #5a3a01;
  margin-bottom: 40px;
}
.hero-text h1 {
  font-family: "Permament Marker", cursive;
  font-size: 90px;
  line-height: 1;
  color: #5a3a01;
  margin: 0 0 45px;
}
.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #5a3a01;
  margin-bottom: 10px;
}
.hero-text p {
  color: #5a3a01;
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 20px;
}
.hero-img img {
  width: 500px;
  height: auto;
}
.hero-text a {
  display: inline-block;
  color: white;
  background: #ca8102;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
  color: #5a3a01;
}
.hero-text a.ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a.ctaa i {
  vertical-align: middle;
  margin-left: 5px;
}
.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: #5a3a01;
  transition: all 0.5s ease;
}
.icons i:hover {
  color: #ca8102;
  transform: translateY(-5px);
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
  }
  .scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #ca8102;
    border-radius: 30px;
    transition: all 0.5s ease;
  }
  .scroll-down i:hover {
    transform: translateY(-5px);
  }
}
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}
@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 45px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
}

@media (max-width: 1200px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 300px;
    background: #ca8102;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: right 1s;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .open {
    right: 0;
  }
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
  .scroll-down {
    display: none;
  }
}

@media (max-width: 1200px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 300px;
    background: #ca8102;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .open {
    right: 0;
  }
  /* navbar menu style fixes */
  .navlist {
    padding: 10px 0px;
    gap: 10px;
  }
  .navlist li {
    width: 100%;
    text-align: center;
  }
  .navlist li ul {
    width: 300px;
  }
  .navlist li ul li {
    text-align: left;
    padding: 10px 5px;
  }
  .navlist li p {
    margin: 7px 0;
  }
}
@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 375px) {
  .hero-text h1 {
    font-size: 35px;
  }
}

/* additional styles */
.display_toggle {
  display: block !important;
}
.navlist_extend_height {
  height: 480px;
}
.extend_padding {
  padding-top: 210px;
}

/* hive v-- 3 */
.hive {
  width: 100%;
  max-width: 320px;
  height: 300px;
  /* opacity: 1; */
  /* transition: opacity 1s ease-in; */
  position: absolute !important;
  right: -7rem;
  top: -7rem;
}
.header_hive {
  position: relative;
}
.hexagon {
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);

  background-image: url("/assets/img/main.webp");
  background-size: cover;
  margin: 0 auto;
}
.header_hexagon {
  position: absolute;
}
.hex-s {
  width: 120px;
  height: 96px;
  left: 40%;
  transform: translateX(-50%);
}

.hex-m {
  width: 160px;
  height: 128px;
  top: 46px;
  left: -85px;
}

.hex-b {
  width: 200px;
  height: 160px;
  top: 120px;
  left: 50px;
}
@media screen and (min-width: 720px) and (max-width: 790px) {
  .hive {
    top: -15rem !important;
    right: -2rem !important;
  }
}
@media only screen and (max-width: 720px) {
  .hero {
    flex-direction: column;
    min-height: 70vh;
    margin-bottom: 10rem;
  }
  .hive {
    bottom: -17rem;
    top: unset;
    right: 0rem;
  }
  .hex-b {
    width: 140px;
    height: 112px;
    top: 80px;
    left: 70px;
  }
  .hex-m {
    width: 100px;
    height: 80px;
    top: 35px;
    left: -10px;
  }
  .hex-s {
    width: 80px;
    height: 64px;
  }

  .logo img {
    width: 8rem;
    height: 8rem;
  }
  .hero-text {
    padding-top: 5rem;
  }
  .hero {
    padding-top: 15rem;
  }
}
@media only screen and (max-width: 670px) {
  .hero-text p {
    font-size: 1.5rem !important;
  }
  .hero-text h1 {
    font-size: 3rem !important;
  }
  .hero-text {
    padding: 10rem 2rem;
  }
}
@media only screen and (max-width: 420px) {
  .hero-text h1 {
    font-size: 2rem !important;
  }
  .hero-text p {
    font-size: 1.2rem !important;
  }
  .offer {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }
}

@media only screen and (max-width: 450px) {
  .hex-m {
    left: 100px !important;
  }
  .hex-s {
    left: 74% !important;
  }
  .hex-b {
    left: 180px !important;
  }
}
@media only screen and (max-width: 370px) {
  .hero-text {
    padding: 10rem 1rem;
  }
}
@media only screen and (max-width: 330px) {
  .hex-b {
    top: 100px;
    left: 170px !important;
  }
  .hex-s {
    top: 20px;
    left: 75% !important;
  }
  .hex-m {
    top: 54px;
    left: 90px !important;
  }
}
.hive_opacity {
  opacity: 1;
}
/* end hive */
/* start why online course section */

.reasons_why {
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  transition: all 1s ease-in;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reasons_why_disappear {
  opacity: 0;
  transform: translateY(20%);
}
.reasons_why h2 {
  text-align: center;
  color: white;
}
.section_why_hive {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
}
.section_why_hive button {
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);
  background: linear-gradient(180deg, #faaa1a 0%, #f5ad3b 50%, #fbaa19 100%);
  width: 300px;
  cursor: pointer;
  justify-self: center;
  border: none;
}
.hex-why {
  background-color: black;
  background-image: none;
  display: flex;
  width: 270px;
  height: 216px;
}
.hex-why > p {
  color: white;
  transition: color 0.3s ease-in;
}
.section_why_hive div p {
  color: #faaa1a;
  text-align: center;
  margin: auto !important;
  font-size: 1.9rem;
}
.reason_why {
  font-size: 2rem;
  color: white;
  padding: 10rem 0rem 5rem 0rem;
  text-align: center;
  transition: opacity 0.4s ease-in;
}
.reason_why_disappear {
  opacity: 0;
}
@media only screen and (min-width: 250px) and (max-width: 1210px) {
  .section_why_hive {
    grid-template-columns: 1fr 1fr;
  }
  .section_why_hive button:nth-child(3) {
    transform: translateX(-50%);
    left: 50%;
    bottom: -100px;
    position: absolute;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 930px) {
  .btn_why {
    width: 200px !important;
  }
  .hex-why {
    width: 170px;
    height: 136px;
  }
  .section_why_hive div p {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  .btn_why {
    width: 140px !important;
  }
  .hex-why {
    width: 130px;
    height: 104px;
  }
  .section_why_hive div p {
    font-size: 1rem;
    padding: 0 0.4rem;
  }
  .section_why_hive button:nth-child(3) {
    bottom: -70%;
  }
}
/* our teachers section */
.our_teachers {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem 1rem !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/assets/img/nastavnici_4.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, 0%;
  transition: all 1s ease-in;
}
.teachers_container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.content_teachers_holder {
  position: relative;
  width: 100%;
  max-width: 300px;
}
.content_teachers_holder img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
  border: 10px solid;
  border-image: linear-gradient(45deg, #1a1a1a, #faaa1a) 10;
}
.teacher-prev {
  left: 0 !important;
}
.teacher-next {
  right: 0 !important;
}
@media only screen and (max-width: 754px) {
  .our_teachers {
    margin: 0;
  }
}
.our_teachers h2 {
  text-align: center;
  color: white;
}
.our_teachers > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.teacher_info {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.35s;
}
.teacher_info p {
  color: white;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
}
.teacher_info:hover {
  opacity: 1;
}

@media only screen and (max-width: 609px) {
  .our_teachers {
    background-size: cover;
    background-position: top;
  }
  .section_testimonials {
    background-size: cover !important;
    background-position: unset !important;
  }
}

/* testimonials */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  background-size: cover;
}
.section_testimonials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-bottom: 20rem; */
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/5.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, right;
  transition: all 1s ease-in;
}
.section_testimonials h2 {
  text-align: center;
  color: white;
}

.testimonial_carousel {
  width: 100%;
  max-width: 134rem;
  margin: 0 auto;
}

.testimonial_carousel div {
  padding: 0 1px;
}

.testimonial_carousel video {
  width: 100%;
  height: 100%;
  background-color: white;
}

.slick-dots {
  display: none !important;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #1a1a1a;
  border: none;
  background-color: transparent;
}
.slick-next {
  left: unset;
  right: 0;
}
.slick-slide > div {
  display: flex;
  justify-content: center;
}

/* contact styles */
.contact-container {
  width: 100%;
  max-width: 134rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 20px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: all 1s ease-in;
  position: relative;
}
.contact-container img {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  object-fit: cover;
}
.form-container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.name_mail_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.name_mail_container div {
  display: flex;
  flex-direction: column;
}
.name_mail_container div input,
textarea {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem 0;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  background-color: white;
  color: #45260a;
}
textarea {
  font-size: 1.5rem;
  resize: none;
}
label {
  font-size: 1.8rem;
  color: white;
}

.form-container button {
  width: 100%;
  max-width: 16rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border-radius: 10px;
  color: #45260a;
  background-color: white;
}
.form-container h2 {
  color: white !important;
}
.contact-container p {
  font-size: 1.5rem;
  color: white;
}
.form-notification {
  color: #d9480f !important;
}
@media only screen and (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-container img {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .name_mail_container {
    grid-template-columns: 1fr;
  }
  .text_teachers_holder p {
    font-size: 1.5rem;
  }
  .offer_2 p {
    font-size: 1.5rem !important;
  }
  .hero {
    margin-bottom: 0 !important;
  }
}
/* footer */
footer {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: top;
  background-color: #1a1a1a;
  width: 100%;
  padding: 5rem 2rem;
}
footer p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.icons_footer {
  color: white !important;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.icons_footer a {
  color: white;
  font-size: 2rem;
}

address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
address p {
  font-size: 1.5rem;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}
.footer_nav a {
  color: white;
}
.footer_address_links {
  display: flex;
  gap: 5rem;
}

@media only screen and (max-width: 550px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .footer_address_links {
    flex-direction: column;
  }
}

.offer {
  /* padding-top: 25rem;
  padding-bottom: 25rem; */
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/why.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, 100%;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in;
  /* height: auto;
  min-height: 700px;
  max-height: 834px; */
  height: 834px;
}

.offer_1,
.offer_2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.offer_1 img {
  width: 520px;
  height: 416px;
  transform: scale(0.75);
  object-fit: cover;
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);
}
.offer_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.offer_2 h2 {
  color: white;
}
.offer_2 p {
  font-size: 20px;
  color: white;
  width: 100%;
  max-width: 1010px;
}
.offer_dynamic_2 {
  margin: 3rem 0;
}

@media (max-width: 1024px) {
  .offer {
    grid-template-columns: 1fr;
    background-position: unset;
    background-size: cover;
  }
}
@media only screen and (max-width: 350px) {
  .offer_1 img {
    width: 300px;
    height: 227px;
  }
}

@media only screen and (max-width: 800px) {
  .form-container {
    padding: 2rem 1rem !important;
  }
}

._2eZHnh_PMhyzt7w_zi7 {
  overflow: hidden !important;
}

/* animations */
/* animations */
@keyframes a_move {
  0% {
    left: 40%;
    top: 10%;
    transform: rotate(90deg); /* Initial rotation */
  }
  25% {
    left: 60%;
    /* No need to set transform here; it remains as the initial rotation */
  }
  50% {
    left: 60%;
    top: 10%;
    transform: rotate(-90deg);
  }
  75% {
    left: 40%;
    /* No need to set transform here; it's already at -90deg rotation */
  }
  100% {
    top: 20%;
    left: 50%;
    /* No need to set transform here; it's already at -90deg rotation */
  }
}

.a_bee {
  position: absolute;
  width: 10rem;
  height: auto;
  top: 20%;
  left: 50%;
}
.a_animate {
  transform: rotate(0deg);
  animation-name: a_move;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
