* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(180deg, #faaa1a 0%, #f5ad3b 50%, #fbaa19 100%);
}

a {
  text-decoration: none !important;
}
h2 {
  color: white;
  font-size: 3.2rem;
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: linear-gradient(180deg, #faaa1a 0%, #f5ad3b 50%, #fbaa19 100%);
}
.logo img {
  width: 12rem;
  height: 12em;
}
.navlist {
  display: flex;
}
.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}
.navlist li {
  position: relative;
}
.navlist li ul {
  display: none;
  position: absolute;
  background-color: #faaa1a;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navlist li ul li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}
.navlist a {
  font-size: 1.6rem;
}

.navlist li ul li:hover {
  background-color: #faaa1a;
}
/* .navlist li:hover ul {
  display: block;
} */
.navlist li p {
  color: white;
  font-weight: 600;
  margin-left: 60px;
  font-size: 1.6rem;
}
#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 80vh;
  width: 100%;
  min-height: 80vh;

  position: relative;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* align-items: center; */
  display: flex;
  justify-content: space-around;
  gap: 20rem;
  padding-top: 25rem;
  margin-bottom: 5rem;
}
section {
  padding: 0 19%;
}
.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}
.hero-text h1 {
  font-family: "Permament Marker", cursive;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.hero-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.hero-img img {
  width: 500px;
  height: auto;
}
.hero-text a {
  display: inline-block;
  color: white;
  background: #ca8102;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.hero-text a.ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a.ctaa i {
  vertical-align: middle;
  margin-left: 5px;
}
.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}
.icons i:hover {
  color: #ca8102;
  transform: translateY(-5px);
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
  }
  .scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #ca8102;
    border-radius: 30px;
    transition: all 0.5s ease;
  }
  .scroll-down i:hover {
    transform: translateY(-5px);
  }
}
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}
@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}
@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
  .hero-text h5 {
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
}

@media (max-width: 1200px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 300px;
    background: #ca8102;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: right 1s;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .open {
    right: 0;
  }
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .hero-text {
    padding-top: 115px;
  }
  .hero-img {
    text-align: center;
  }
  .hero-img img {
    width: 560px;
    height: auto;
  }
  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
  .scroll-down {
    display: none;
  }
}

@media (max-width: 1200px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 300px;
    background: #ca8102;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .open {
    right: 0;
  }
  /* navbar menu style fixes */
  .navlist {
    padding: 10px 0px;
    gap: 10px;
  }
  .navlist li {
    width: 100%;
    text-align: center;
  }
  .navlist li ul {
    width: 300px;
  }
  .navlist li ul li {
    text-align: left;
    padding: 10px 5px;
  }
  .navlist li p {
    margin: 7px 0;
  }
}
@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 375px) {
  .hero-text h1 {
    font-size: 65px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-text h1 {
    font-size: 65px;
  }
}

/* additional styles */
.display_toggle {
  display: block !important;
}
.navlist_extend_height {
  height: 480px;
}
.extend_padding {
  padding-top: 180px;
}

/* hive v-- 3 */
.hive {
  width: 100%;
  max-width: 320px;
  height: 300px;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.header_hive {
  position: relative;
}
.hexagon {
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);

  background-image: url("/assets/img/main.webp");
  background-size: cover;
  margin: 0 auto;
}
.header_hexagon {
  position: absolute;
}
.hex-s {
  width: 140px;
  height: 112px;
  left: 38%;
  transform: translateX(-50%);
}

.hex-m {
  width: 200px;
  height: 160px;
  top: 46px;
  left: -145px;
}

.hex-b {
  width: 250px;
  height: 200px;
  top: 140px;
  left: 20px;
}

@media only screen and (max-width: 720px) {
  .hero {
    flex-direction: column;
    min-height: 70vh;
    margin-bottom: 10rem;
  }
  .hive {
    display: none;
  }

  .logo img {
    width: 8rem;
    height: 8rem;
  }
  .hero-text {
    padding-top: 0;
  }
  .hero {
    padding-top: 15rem;
  }
}

@media only screen and (max-width: 340px) {
  .hex-s {
    left: 52%;
    transform: translateX(-48%);
  }
}
.hive_opacity {
  opacity: 1;
}
/* end hive */
/* start why online course section */
.reasons_why {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  transition: all 1s ease-in;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reasons_why_disappear {
  opacity: 0;
  transform: translateY(20%);
}
.reasons_why h2 {
  text-align: center;
}
.section_why_hive {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
}
.section_why_hive button {
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);
  background: linear-gradient(180deg, #faaa1a 0%, #f5ad3b 50%, #fbaa19 100%);
  width: 210px;
  cursor: pointer;
  justify-self: center;
  border: none;
}
.hex-why {
  background-color: black;
  background-image: none;
  display: flex;
  width: 180px;
  height: 144px;
}
.hex-why > p {
  color: white;
  transition: color 0.3s ease-in;
}
.section_why_hive div p {
  color: white;
  text-align: center;
  margin: auto !important;
  font-size: 2rem;
}
.reason_why {
  font-size: 2rem;
  color: white;
  padding: 10rem 0rem 5rem 0rem;
  text-align: center;
  transition: opacity 0.4s ease-in;
}
.reason_why_disappear {
  opacity: 0;
}
@media only screen and (min-width: 649px) and (max-width: 1210px) {
  .section_why_hive {
    grid-template-columns: 1fr 1fr;
  }
  .section_why_hive button:nth-child(3) {
    transform: translateX(-50%);
    left: 50%;
    bottom: -100px;
    position: absolute;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 648px) {
  .section_why_hive {
    grid-template-columns: 1fr;
  }
  .reason_why {
    font-size: 1.5rem;
    padding: 5rem 0rem;
  }
  .reasons_why,
  .our_teachers,
  .offer {
    padding: 5rem 0 2rem 0 !important;
  }
  .offer_1 img {
    width: 320px !important;
    height: 240px !important;
  }
}

/* our teachers section */
.our_teachers {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  transition: all 1s ease-in;
  padding-top: 15rem;
  padding-bottom: 15rem;
  /* margin: 10rem 5rem 20rem 5rem; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, 0%;
}
@media only screen and (max-width: 754px) {
  .our_teachers {
    margin: 0;
  }
}
.our_teachers h2 {
  text-align: center;
}
.our_teachers > div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.our_teachers > div > div {
  position: relative;
  overflow: hidden;
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);
}
.our_teachers div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text_teachers_holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 1rem;
  transform: translateX(150%);
  transition: transform 0.5s ease-in;
}
.text_teachers_holder p {
  font-size: 1.7rem;
  color: white;
}
.content_teachers_holder:hover .text_teachers_holder {
  transform: translateX(0%) !important;
}
.content_teachers_holder > p {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.8rem;
}

/* testimonials */
.section_testimonials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-bottom: 20rem; */
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, right;
  transition: all 1s ease-in;
}
.section_testimonials h2 {
  text-align: center;
}

.testimonial_carousel {
  width: 100%;
  max-width: 134rem;
  margin: 0 auto;
}

.testimonial_carousel div {
  padding: 0 1px;
}

.testimonial_carousel video {
  width: 100%;
  height: 100%;
}

.slick-dots {
  display: none !important;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: white;
  border: none;
  background-color: transparent;
}
.slick-next {
  right: 0;
}

/* contact styles */
.contact-container {
  width: 100%;
  max-width: 134rem;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 20px;
  overflow: hidden;
  background-color: #45260a;
  transition: all 1s ease-in;
}
.contact-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.name_mail_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.name_mail_container div {
  display: flex;
  flex-direction: column;
}
.name_mail_container div input,
textarea {
  padding: 0.5rem 0;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  background-color: white;
  color: #45260a;
}
textarea {
  font-size: 1.5rem;
  resize: none;
}
label {
  font-size: 1.8rem;
  color: white;
}
.form-container button {
  width: 100%;
  max-width: 16rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border-radius: 10px;
  color: #45260a;
  background-color: white;
}
.contact-container p {
  font-size: 1.5rem;
  color: white;
}
@media only screen and (max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-container img {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .name_mail_container {
    grid-template-columns: 1fr;
  }
  .text_teachers_holder p {
    font-size: 1.5rem;
  }
  .offer_2 p {
    font-size: 1.5rem !important;
  }
}
/* footer */
footer {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: top;
  background-color: black;
  width: 100%;
  padding: 5rem 2rem;
}
footer p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.icons_footer {
  color: white !important;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.icons_footer a {
  color: white;
  font-size: 2rem;
}

address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
address p {
  font-size: 1.5rem;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}
.footer_nav a {
  color: white;
}
.footer_address_links {
  display: flex;
  gap: 5rem;
}

@media only screen and (max-width: 550px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .footer_address_links {
    flex-direction: column;
  }
}

.offer {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/img/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%, 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 100%;
  margin: 0 auto 0rem auto;
  /* padding: 50px 0; */
  transition: all 1s ease-in;
}

.offer_1,
.offer_2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.offer_1 img {
  width: 520px;
  height: 416px;
  object-fit: cover;
  clip-path: polygon(50% -50%, 100% 50%, 100% 50%, 50% 150%, 0% 50%, 0% 50%);
}
.offer_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.offer_2 p {
  font-size: 20px;
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  .offer {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 350px) {
  .offer_1 img {
    width: 300px;
    height: 227px;
  }
}

._2eZHnh_PMhyzt7w_zi7 {
  overflow: hidden !important;
}
